<div class="devtools__inner">

  <div class="devtools__section-title">
    <div class="devtools__section-title-inner">
      General
    </div>
  </div>

  <div class="devtools__item is-toggle hinting">
    <input id="toggle-hinting" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-hinting">
      <span class="devtools__item-state">
        <span class="devtools__item-icon">
          <span class="icon" aria-hidden="true"></span>
        </span>
      </span>

      <span class="devtools__item-title">
        <span class="devtools__item-title-inner">
          Question hinting
        </span>
      </span>
    </label>
  </div>

  <div class="devtools__item is-toggle auto-correct">
    <input id="toggle-auto-correct" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-auto-correct">
      <span class="devtools__item-state">
        <span class="devtools__item-icon">
          <span class="icon" aria-hidden="true"></span>
        </span>
      </span>

      <span class="devtools__item-title">
        <span class="devtools__item-title-inner">
          Auto correct
        </span>
      </span>
    </label>
  </div>

  <div class="devtools__item is-tip auto-correct">
    <div class="devtools__item-inner">
      <kbd>ctrl+click</kbd> submit to correctly answer questions (<kbd>ctrl+shift+click</kbd> for incorrect answer)
    </div>
  </div>

  <div class="devtools__item is-toggle feedback">
    <input id="toggle-feedback" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-feedback">
      <span class="devtools__item-state">
        <span class="devtools__item-icon">
          <span class="icon" aria-hidden="true"></span>
        </span>
      </span>

      <span class="devtools__item-title">
        <span class="devtools__item-title-inner">
          Tutor
        </span>
      </span>
    </label>
  </div>

  <div class="devtools__item is-toggle alt-text">
    <input id="toggle-alt-text" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-alt-text">
      <span class="devtools__item-state">
        <span class="devtools__item-icon">
          <span class="icon" aria-hidden="true"></span>
        </span>
      </span>

      <span class="devtools__item-title">
        <span class="devtools__item-title-inner">
          Show alt text
        </span>
      </span>
    </label>
  </div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn unlock">
      Unlock
    </button>
  </div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn open-map">
      Course map
    </button>

    <button class="devtools__item-btn open-spoor-log">
      Spoor log
    </button>
  </div>

  <div class="devtools__section-title">
    <div class="devtools__section-title-inner">
      Page
    </div>
  </div>

  <div class="devtools__item is-toggle banking">
    <input id="toggle-banking" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-banking">
      <span class="devtools__item-state">
        <span class="devtools__item-icon">
          <span class="icon" aria-hidden="true"></span>
        </span>
      </span>

      <span class="devtools__item-title">
        <span class="devtools__item-title-inner">
          Question banks <em>(this page)</em>
        </span>
      </span>
    </label>
  </div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn end-trickle">
      Untrickle
    </button>

    <button class="devtools__item-btn complete-page">
      Complete page
    </button>
  </div>

  <div class="devtools__item is-tip pass-half-fail"></div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn pass">
      Pass
    </button>

    <button class="devtools__item-btn half">
      Half
    </button>

    <button class="devtools__item-btn fail">
      Fail
    </button>
  </div>

  <div class="devtools__section-title">
    <div class="devtools__section-title-inner">
      Menu
    </div>
  </div>
  
  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn unlock-menu">
      Unlock menu
    </button>

    <button class="devtools__item-btn complete-menu">
      Complete menu
    </button>
  </div>

  <div class="devtools__section-title">
    <div class="devtools__section-title-inner">
      Extended
    </div>
  </div>

  <div class="devtools__item is-toggle trace-focus">
    <input id="toggle-trace-focus" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-trace-focus">
      <span class="devtools__item-state">
        <span class="devtools__item-icon">
          <span class="icon" aria-hidden="true"></span>
        </span>
      </span>

      <span class="devtools__item-title">
        <span class="devtools__item-title-inner">
          Trace focus
        </span>
      </span>
    </label>
  </div>

  <div class="devtools__item is-tip">
    <div class="devtools__item-inner">
      <b>Developer tips:</b>
      <ul>
        <li>With the browser console open, left-click and press <kbd>m</kbd> to show the <b>data model</b> for that element.</li>
        <li>Once the Dev Tools drawer has been opened, the <b>core Adapt object</b> can be reached via the <code>Adapt</code> reference for the remainder of the session.</li>
      </ul>
    </div>
  </div>

</div>
