<div class="devtools-button-container">
	<div class="drawer-item toggle hinting">
        <input type="checkbox" id="toggle-hinting"/>
        <label for="toggle-hinting">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Question hinting</div>
        </label>
    </div>
    <div class="drawer-item toggle auto-correct">
        <input type="checkbox" id="toggle-auto-correct"/>
        <label for="toggle-auto-correct">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Auto correct</div>
        </label>
    </div>
    <div class="drawer-item tip auto-correct"><em>ctrl+click submit to correctly answer questions (ctrl+shift+click for incorrect answer)</em></div>
    <div class="drawer-item toggle feedback">
        <input type="checkbox" id="toggle-feedback"/>
        <label for="toggle-feedback">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Tutor</div>
        </label>
    </div>
    <div class="drawer-item toggle banking">
        <input type="checkbox" id="toggle-banking"/>
        <label for="toggle-banking">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Question banks <em>(this page)</em></div>
        </label>
    </div>
    <button class="drawer-item end-trickle">Untrickle</button>
	<button class="drawer-item menu-unlock">Unlock menu</button>
    <div class="drawer-item tip pass-half-fail"></div>
	<button class="drawer-item pass">Pass</button>
	<button class="drawer-item fail">Fail</button>
	<button class="drawer-item half">Half</button>
	<div class="drawer-item tip"><em>Dev tip: control-click to reveal models</em></div>
</div>
