<span class="devtools__annotation-order">
<span class="button">+</span>
<span class="devtools__annotation-inner">
  <span class="name">
  {{#if name}}
  {{name}}
  {{else}}
  No alt text
  {{/if}}
  </span>
  <span class="description">
  {{#if description}}
  {{description}}
  {{/if}}
  </span>
</span>
</span>
