<div class="devtools__inner">

  <div class="devtools__section-title">
    <div class="devtools__section-title-inner">
      General
    </div>
  </div>

  <div class="devtools__item is-toggle hinting">
    <input id="toggle-hinting" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-hinting">
      <div class="devtools__item-state">
        <div class="devtools__item-icon">
          <div class="icon" aria-hidden="true"></div>
        </div>
      </div>

      <div class="devtools__item-title">
        <div class="devtools__item-title-inner">
          Question hinting
        </div>
      </div>
    </label>
  </div>

  <div class="devtools__item is-toggle auto-correct">
    <input id="toggle-auto-correct" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-auto-correct">
      <div class="devtools__item-state">
        <div class="devtools__item-icon">
          <div class="icon" aria-hidden="true"></div>
        </div>
      </div>

      <div class="devtools__item-title">
        <div class="devtools__item-title-inner">
          Auto correct
        </div>
      </div>
    </label>
  </div>

  <div class="devtools__item is-tip auto-correct">
    <div class="devtools__item-inner">
      ctrl+click submit to correctly answer questions (ctrl+shift+click for incorrect answer)
    </div>
  </div>

  <div class="devtools__item is-toggle feedback">
    <input id="toggle-feedback" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-feedback">
      <div class="devtools__item-state">
        <div class="devtools__item-icon">
          <div class="icon" aria-hidden="true"></div>
        </div>
      </div>

      <div class="devtools__item-title">
        <div class="devtools__item-title-inner">
          Tutor
        </div>
      </div>
    </label>
  </div>

  <div class="devtools__item is-toggle alt-text">
    <input id="toggle-alt-text" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-alt-text">
      <div class="devtools__item-state">
        <div class="devtools__item-icon">
          <div class="icon" aria-hidden="true"></div>
        </div>
      </div>

      <div class="devtools__item-title">
        <div class="devtools__item-title-inner">
          Show alt text
        </div>
      </div>
    </label>
  </div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn unlock">
      Unlock
    </button>
  </div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn open-map">
      Course map
    </button>

    <button class="devtools__item-btn open-spoor-log">
      Spoor log
    </button>
  </div>

  <div class="devtools__section-title">
    <div class="devtools__section-title-inner">
      Page
    </div>
  </div>

  <div class="devtools__item is-toggle banking">
    <input id="toggle-banking" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-banking">
      <div class="devtools__item-state">
        <div class="devtools__item-icon">
          <div class="icon" aria-hidden="true"></div>
        </div>
      </div>

      <div class="devtools__item-title">
        <div class="devtools__item-title-inner">
          Question banks <em>(this page)</em>
        </div>
      </div>
    </label>
  </div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn end-trickle">
      Untrickle
    </button>

    <button class="devtools__item-btn complete-page">
      Complete page
    </button>
  </div>

  <div class="devtools__item is-tip pass-half-fail"></div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn pass">
      Pass
    </button>

    <button class="devtools__item-btn half">
      Half
    </button>

    <button class="devtools__item-btn fail">
      Fail
    </button>
  </div>

  <div class="devtools__section-title">
    <div class="devtools__section-title-inner">
      Menu
    </div>
  </div>

  <div class="devtools__item-btn-container">
    <button class="devtools__item-btn complete-menu">
      Complete menu
    </button>
  </div>

  <div class="devtools__section-title">
    <div class="devtools__section-title-inner">
      Extended
    </div>
  </div>

  <div class="devtools__item is-toggle trace-focus">
    <input id="toggle-trace-focus" class="devtools__item-input" type="checkbox"/>

    <label class="devtools__item-label" for="toggle-trace-focus">
      <div class="devtools__item-state">
        <div class="devtools__item-icon">
          <div class="icon" aria-hidden="true"></div>
        </div>
      </div>

      <div class="devtools__item-title">
        <div class="devtools__item-title-inner">
          Trace focus
        </div>
      </div>
    </label>
  </div>

  <div class="devtools__item is-tip">
    <div class="devtools__item-inner">
      Dev tip: with the browser console open, left-click and press <kbd>m</kbd> to show the data model for that element.
    </div>
  </div>

</div>
