<div class="devtools-button-container">
    <div class="section-general">
        <span>General</span>
    </div>
    <div class="drawer-item toggle hinting">
        <input type="checkbox" id="toggle-hinting"/>
        <label for="toggle-hinting">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Question hinting</div>
        </label>
    </div>
    <div class="drawer-item toggle auto-correct">
        <input type="checkbox" id="toggle-auto-correct"/>
        <label for="toggle-auto-correct">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Auto correct</div>
        </label>
    </div>
    <div class="drawer-item tip auto-correct"><em>ctrl+click submit to correctly answer questions (ctrl+shift+click for incorrect answer)</em></div>
    <div class="drawer-item toggle feedback">
        <input type="checkbox" id="toggle-feedback"/>
        <label for="toggle-feedback">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Tutor</div>
        </label>
    </div>
    <div class="drawer-item toggle alt-text">
        <input type="checkbox" id="toggle-alt-text"/>
        <label for="toggle-alt-text">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Show alt text</div>
        </label>
    </div>
    <button class="drawer-item unlock">Unlock</button>
    <div>
        <button class="drawer-item open-map"><span>Course map</span><span class="devtools-alpha">ALPHA</span></button>
        <button class="drawer-item open-spoor-log"><span>Spoor log</span></button>
        <div style="clear:both;"></div>
    </div>
    <div class="section-page">
        <span>Page</span>
    </div>
    <div class="drawer-item toggle banking">
        <input type="checkbox" id="toggle-banking"/>
        <label for="toggle-banking">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">Question banks <em>(this page)</em></div>
        </label>
    </div>
    <button class="drawer-item end-trickle">Untrickle</button>
    <button class="drawer-item complete-page">Complete page</button>
    <div class="drawer-item tip pass-half-fail"></div>
    <div class="pass-half-fail-container clearfix">
        <button class="drawer-item pass">Pass</button>
        <button class="drawer-item half">Half</button>
        <button class="drawer-item fail">Fail</button>
    </div>
    <div class="section-menu">
        <span>Menu</span>
    </div>
    <button class="drawer-item complete-menu">Complete menu</button>
    <div class="devtools-extended-settings">
        <div class="drawer-item toggle trace-focus">
            <input type="checkbox" id="toggle-trace-focus"/>
            <label for="toggle-trace-focus">
                <div class="toggle-state">
                    <div class="checkbox icon"></div>
                </div>
                <div class="toggle-inner h5">Trace focus</div>
            </label>
        </div>
    </div>
    <div class="drawer-item tip"><b>Dev tip:</b> with the browser console open, left-click and press <kbd>m</kbd> to show the data model for that element.</div>
</div>
